<a href="https://colab.research.google.com/github/carlosclaudinolima/aulaspython/blob/main/SEEG_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
url = '/content/sample_data/emissoes_gases 01.csv'

In [5]:
emissao_gases = pd.read_csv(url)

<ipython-input-5-1e0dd97925e2>:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  emissao_gases = pd.read_csv(url)

In [7]:
emissao_gases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94748 entries, 0 to 94747
Data columns (total 63 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           94748 non-null  int64
 1   Nível 1 - Setor      94748 non-null  object
 2   Nível 2              94748 non-null  object
 3   Nível 3              94689 non-null  object
 4   Nível 4              82422 non-null  object
 5   Nível 5              92290 non-null  object
 6   Nível 6              89207 non-null  object
 7   Gás                  94748 non-null  object
 8   Estado               88852 non-null  object
 9   Atividade Econômica  94703 non-null  object
 10  Produto              36198 non-null  object
 11  1970                 94748 non-null  float64
 12  1971                 94748 non-null  float64
 13  1972                 94748 non-null  float64
 14  1973                 94748 non-null  float64
 15  1974                 94748 non-null  float64
 16  1975                 94748 non-null  float64
 17  1976                 94748 non-null  float64
 18  1977                 94748 non-null  float64
 19  1978                 94748 non-null  float64
 20  1979                 94748 non-null  float64
 21  1980                 94748 non-null  float64
 22  1981                 94748 non-null  float64
 23  1982                 94748 non-null  float64
 24  1983                 94748 non-null  float64
 25  1984                 94748 non-null  float64
 26  1985                 94748 non-null  float64
 27  1986                 94748 non-null  float64
 28  1987                 94748 non-null  float64
 29  1988                 94748 non-null  float64
 30  1989                 94748 non-null  float64
 31  1990                 94748 non-null  float64
 32  1991                 94748 non-null  float64
 33  1992                 94748 non-null  float64
 34  1993                 94748 non-null  float64
 35  1994                 94748 non-null  float64
 36  1995                 94748 non-null  float64
 37  1996                 94748 non-null  float64
 38  1997                 94748 non-null  float64
 39  1998                 94748 non-null  float64
 40  1999                 94748 non-null  float64
 41  2000                 94748 non-null  float64
 42  2001                 94748 non-null  float64
 43  2002                 94748 non-null  float64
 44  2003                 94748 non-null  float64
 45  2004                 94748 non-null  float64
 46  2005                 94748 non-null  float64
 47  2006                 94748 non-null  float64
 48  2007                 94748 non-null  float64
 49  2008                 94748 non-null  float64
 50  2009                 94748 non-null  float64
 51  2010                 94748 non-null  float64
 52  2011                 94748 non-null  float64
 53  2012                 94748 non-null  float64
 54  2013                 94748 non-null  float64
 55  2014                 94748 non-null  float64
 56  2015                 94748 non-null  float64
 57  2016                 94748 non-null  float64
 58  2017                 94748 non-null  float64
 59  2018                 94748 non-null  float64
 60  2019                 94748 non-null  float64
 61  2020                 94748 non-null  float64
 62  2021                 94748 non-null  float64
dtypes: float64(52), int64(1), object(10)
memory usage: 45.5+ MB

In [11]:
colunas_info = list(emissao_gases.loc[:, 'Nível 1 - Setor':'Produto'].columns)
colunas_info

['Nível 1 - Setor',
 'Nível 2',
 'Nível 3',
 'Nível 4',
 'Nível 5',
 'Nível 6',
 'Gás',
 'Estado',
 'Atividade Econômica',
 'Produto']

In [12]:
colunas_emissao = list(emissao_gases.loc[:, '1970':'2021'])
colunas_emissao

['1970',
 '1971',
 '1972',
 '1973',
 '1974',
 '1975',
 '1976',
 '1977',
 '1978',
 '1979',
 '1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 '2021']

In [15]:
emissao_gases.melt(id_vars= colunas_info, value_vars= colunas_emissao, var_name='Ano', value_name='Emissão')

,Nível 1 - Setor,Nível 2,Nível 3,Nível 4,Nível 5,Nível 6,Gás,Estado,Atividade Econômica,Produto,Ano,Emissão
0,Processos Industriais,Indústria Química,Produção de ABS,NaN,NaN,NaN,COVNM (t),SP,OUTRA_IND,NaN,1970,0.0
1,Processos Industriais,Indústria Química,Produção de Ácido Adípico,NaN,NaN,NaN,N2O (t),SP,OUTRA_IND,NaN,1970,6210.0
2,Processos Industriais,Indústria Química,Produção de Ácido Adípico,NaN,NaN,NaN,CO (t),SP,OUTRA_IND,NaN,1970,368.0
3,Processos Industriais,Indústria Química,Produção de Ácido Adípico,NaN,NaN,NaN,NOx (t),SP,OUTRA_IND,NaN,1970,115.0
4,Processos Industriais,Indústria Química,Produção de Ácido Adípico,NaN,NaN,NaN,CO2e (t) GWP-AR2,SP,OUTRA_IND,NaN,1970,1925100.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4926891,Mudança de Uso da Terra e Floresta,Resíduos Florestais,Pantanal,NaN,Desmatamento,NaN,CO2e (t) GWP-AR5,MS,AGROPEC,NaN,2021,1004191.0
4926892,Mudança de Uso da Terra e Floresta,Resíduos Florestais,Pantanal,NaN,Desmatamento,NaN,CO2e (t) GWP-AR6,MT,AGROPEC,NaN,2021,443120.0
4926893,Mudança de Uso da Terra e Floresta,Resíduos Florestais,Pantanal,NaN,Desmatamento,NaN,CO2e (t) GWP-AR6,MS,AGROPEC,NaN,2021,1009968.0
4926894,Mudança de Uso da Terra e Floresta,Resíduos Florestais,Pantanal,NaN,Desmatamento,NaN,N2O (t),MT,AGROPEC,NaN,2021,479.0
4926895,Mudança de Uso da Terra e Floresta,Resíduos Florestais,Pantanal,NaN,Desmatamento,NaN,N2O (t),MS,AGROPEC,NaN,2021,1047.0

In [16]:
emissoes_por_ano = emissao_gases.melt(id_vars= colunas_info, value_vars= colunas_emissao, var_name='Ano', value_name='Emissão')

In [19]:
emissoes_por_ano.groupby('Gás')['Emissão'].sum().sort_values(ascending=False)

Gás
CO2e (t) GWP-AR5    8.181375e+10
CO2e (t) GWP-AR6    8.132316e+10
CO2e (t) GWP-AR4    8.015921e+10
CO2e (t) GWP-AR2    7.720596e+10
CO2e (t) GTP-AR4    6.344612e+10
CO2e (t) GTP-AR2    6.344612e+10
CO2e (t) GTP-AR6    6.247859e+10
CO2e (t) GTP-AR5    6.182200e+10
CO2 (t)             5.324636e+10
CH4 (t)             7.949268e+08
CO (t)              5.111531e+08
COVNM (t)           2.242130e+08
NOx (t)             9.976123e+07
N2O (t)             2.240066e+07
HFC-134a (t)        1.394731e+05
HFC-125 (t)         9.795580e+03
HFC-143a (t)        9.039400e+03
CF4 (t)             7.135481e+03
HFC-32 (t)          2.367750e+03
HFC-23 (t)          1.197840e+03
C2F6 (t)            5.765018e+02
HFC-152a (t)        5.706000e+02
SF6 (t)             4.705800e+02
Name: Emissão, dtype: float64